@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.cajaHeader{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.movilHeader{
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* height: 80px; */   
}

.movilHeader img {
    background-size: cover;   
}

.menu, .BotonContact{
    display: none;
}

.padelIntro{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.padelIntro img{   
    /* width: 400px; */
    height: 342px;
    /* background-image: url('../img/padel-intro.png'); */
    background-size: cover;   
}

.cajaLive{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: end;
    padding: 40px;
    align-items: flex-end;
}

.cajaLive h1 {
    color: #232C50;
    font-size: 50px;
    margin-top: 60px;
    font-weight: 700;
    
}

.cajaLive p {
    font-size: 16.56px;
    margin: 20px 0;
    font-weight: 500;
}

.BotonContact2{
    width: 134px;
    height: 44px;
    border-radius: 50px;
    background-color: #8B48BF;
    border: none;
    color: #ffffff;
    font-weight: 500;
}

.cajaPros{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 306px;
    background-color: #3CDDF3;
    color: #ffffff;
    padding: 20px;
}

.cajaPros h2{
    width: 440px;
    height: 88px;
    font-weight: 700;
    font-size: 36px;
}

.cajaPros p{
    width: 440px;
    height: 88px;
    font-weight: 500;
    font-size: 1rem;
}

.section_numeros{
    display: flex;
    flex-direction: column;
    margin-top:40px;
    margin-left: 34px;
}

.section_numeros h3{
    position: absolute;
    width: 69px;
    height: 43px;
    border-radius: 30px;
    background-color: #8B48BF;
    color: #ffffff;
    text-align: center;
    padding: 11px;
    font-size: 1rem;
}

.section_numeros h4{    
    background-color:rgba(139, 72, 191, 0.3);
    height: 43px;
    font-size: 1rem;
    padding: 11px;
    padding-left: 82px;
    border-radius: 50px 0 0 50px;   
}

.section_numeros p{
    /* width: 425px;
    height: 130px; */
    color:#B3B2B7;
    padding: 10px;
    margin: 10px 0;
    margin-right: 25px;
    line-height: 26px;
}

.section_best{
  text-align: center;
}

.section_best h2{
    color: #242E53;
    font-weight: 700;
    font-size: 40px;
    margin-top: 45px;
  }

